	
/***<add>***/
 

	
	  #huge_it_loading_image_2 {
		height:500px;
		width:800px;
		display: table-cell;
		text-align: center;
		vertical-align: middle;
	 }
	  #huge_it_loading_image_2.display {
		display: table-cell;
	 }
	  #huge_it_loading_image_2.nodisplay {
		display: none;
	 }
	 #huge_it_loading_image_2 img {
		margin: auto 0;
		width: 20% !important;
		
	 }
	 
	 .huge_it_slideshow_image_wrap_2 {
		height:500px;
		width:800px;
                max-width: calc(100% - 0px);
		position:relative;
		display: block;
		text-align: center;
		/*HEIGHT FROM HEADER.PHP*/
		clear:both;
		
				float:none; margin:0px auto;		
		border-style:solid;
		border-left:0px !important;
		border-right:0px !important;
                opacity:0	}
	 .huge_it_slideshow_image_wrap1_2.display {
		 width: 100%;
		 height:100%;
	 }
	 .huge_it_slideshow_image_wrap1_2.display {
		 display:block;
	 }
	 .huge_it_slideshow_image_wrap1_2.nodisplay {
		 opacity:0;
	 }
	.huge_it_slideshow_image_wrap_2 * {
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
	}
		 

	  .huge_it_slideshow_image_2 {
                                   width: 100%;
                    height: 100%;
                                max-width: 100%;
                max-height: 100%;
                
	  }
          .huge_it_slideshow_image_wrap1_2{
              height:500px;
              width:800px;
              max-width: 100%;
          }
	  #huge_it_slideshow_left_2,
	  #huge_it_slideshow_right_2 {
		cursor: pointer;
		display:none;
		height: 100%;
		outline: medium none;
		position: absolute;
		z-index: 13;
                    margin-top: 0px !important;
            top: 50%;
            transform: translateY(-50%);
        	  }
	 

	  #huge_it_slideshow_left-ico_2,
	  #huge_it_slideshow_right-ico_2 {
		z-index: 13;
		-moz-box-sizing: content-box;
		box-sizing: content-box;
		cursor: pointer;
		display: table;
		left: -9999px;
		line-height: 0;
		margin-top: -15px;
		position: absolute;
		top: 50%;
		/*z-index: 10135;*/
	  }
	  #huge_it_slideshow_left-ico_2:hover,
	  #huge_it_slideshow_right-ico_2:hover {
		cursor: pointer;
	  }
	  
	  .huge_it_slideshow_image_container_2 {
		display: table;
		position: relative;
		top:0px;
		left:0px;
		text-align: center;
		vertical-align: middle;
		width:100%;
                overflow:hidden;
                height: 100%;
	  }	  
		
	  .huge_it_slideshow_title_text_2 {
		text-decoration: none;
		position: absolute;
		z-index: 11;
		display: inline-block;
				
		width:24%;
		/*height:44%;*/
		
		right:3%;top:3%;		padding:2%;
		text-align:right;  
		font-weight:bold;
		color:#000000;
			
		background:rgba(255,255,255,0.7)  !important;
		border-style:solid;
		font-size:13px;
		border-width:0px;
		border-color:#ffffff;
		border-radius:4px;
	  }
	  	  
	  .huge_it_slideshow_description_text_2 {
		text-decoration: none;
		position: absolute;
		z-index: 11;
		border-style:solid;
		display: inline-block;
				
		width:64%;
		/*height:44%;*/
		right:3%;bottom:3%;		padding:3%;
		text-align:justify;  
		color:#ffffff;
		
		background:rgba(0,0,0,0.7) !important;
		border-style:solid;
		font-size:13px;
		border-width:0px;
		border-color:#ffffff;
		border-radius:0px;
	  }
	  
	   .huge_it_slideshow_title_text_2.none, .huge_it_slideshow_description_text_2.none,
	   .huge_it_slideshow_title_text_2.hidden, .huge_it_slideshow_description_text_2.hidden	   {display:none;}
	      
	   .huge_it_slideshow_title_text_2 h1, .huge_it_slideshow_description_text_2 h1,
	   .huge_it_slideshow_title_text_2 h2, .huge_it_slideshow_title_text_2 h2,
	   .huge_it_slideshow_title_text_2 h3, .huge_it_slideshow_title_text_2 h3,
	   .huge_it_slideshow_title_text_2 h4, .huge_it_slideshow_title_text_2 h4,
	   .huge_it_slideshow_title_text_2 p, .huge_it_slideshow_title_text_2 p,
	   .huge_it_slideshow_title_text_2 strong,  .huge_it_slideshow_title_text_2 strong,
	   .huge_it_slideshow_title_text_2 span, .huge_it_slideshow_title_text_2 span,
	   .huge_it_slideshow_title_text_2 ul, .huge_it_slideshow_title_text_2 ul,
	   .huge_it_slideshow_title_text_2 li, .huge_it_slideshow_title_text_2 li {
			padding:2px;
			margin:0px;
	   }

	  .huge_it_slide_container_2 {
		display: table-cell;
		margin: 0 auto;
		position: relative;
		vertical-align: middle;
		width:100%;
		height:100%;
		_width: inherit;
		_height: inherit;
	  }
	  .huge_it_slide_bg_2 {
		margin: 0 auto;
		width:100%;
		height:100%;
		_width: inherit;
		_height: inherit;
	  }
          .huge_it_slide_bg_2 li img{
                position: absolute;
                                    /*top: -0px !important;
                    left: -0px !important;*/
                    left:0;
                                height: 100%;
          }
          .huge_it_slide_bg_2 li iframe{
                width: 100%;
                height: 100%;
          }
	  .huge_it_slider_2 {
		width:100%;
		height:100%;
		display:table !important;
		padding:0px !important;
		margin:0px !important;
		
	  }
	  .huge_it_slideshow_image_item_2 {
		width:100%;
		height:100%;
		_width: inherit;
		_height: inherit;
		display: table-cell;
		filter: Alpha(opacity=100);
		opacity: 1;
		position: absolute !important;
		top:0px !important;
		left:0px !important;
		vertical-align: middle;
		z-index: 1;
		margin:0px !important;
		padding:0px  !important;
		overflow: hidden !important;
		border-radius: 0px !important;
	  }
	  .huge_it_slideshow_image_second_item_2 {
		width:100%;
		height:100%;
		_width: inherit;
		_height: inherit;
		display: table-cell;
		filter: Alpha(opacity=0);
		opacity: 0;
		position: absolute !important;
		top:0px !important;
		left:0px !important;
		vertical-align: middle;
		overflow:hidden;
		margin:0px !important;
		visibility:visible !important;
		padding:0px  !important;
		border-radius: 0px !important;
	  }  
	   .huge_it_slideshow_image_second_item_2 a, .huge_it_slideshow_image_item_2 a {
			display:block;
			width:100%;
			height:100%;	
	   }
	   
	  .huge_it_grid_2 {
		display: none;
		height: 100%;
		overflow: hidden;
		position: absolute;
		width: 100%;
	  }
	  .huge_it_gridlet_2 {
		opacity: 1;
		filter: Alpha(opacity=100);
		position: absolute;
	  }
	  .huge_it_slideshow_dots_container_2 {
		display: table;
		position: absolute;
		width:100% !important;
		height:100% !important;
	  }
	  .huge_it_slideshow_dots_thumbnails_2 {
		margin: 0 auto;
		overflow: hidden;
		position: absolute;
		width:100%;
		height:30px;
	  }
	  
	  .huge_it_slideshow_dots_2 {
		display: inline-block;
		position: relative;
		cursor: pointer;
		box-shadow: 1px 1px 1px rgba(0,0,0,0.1) inset, 1px 1px 1px rgba(255,255,255,0.1);
		width:10px;
		height: 10px;
		border-radius: 10px;
		background: #00f;
		margin: 10px;
		overflow: hidden;
		z-index: 17;
	  }
	  
	  .huge_it_slideshow_dots_active_2 {
		opacity: 1;
		filter: Alpha(opacity=100);
	  }
	  .huge_it_slideshow_dots_deactive_2 {
	  
	  }

		.huge_it_slideshow_image_wrap_2 {
			background:#ffffff;
			border-width:0px;
			border-color:#ffffff;
			border-radius:0px;
		}
		.huge_it_slideshow_image_wrap_2.nocolor {
			background: transparent;
		}
		
		.huge_it_slideshow_dots_thumbnails_2 {
						top:0px; 		}

		.huge_it_slideshow_dots_2 {
			background:#000000;
		}
		
		.huge_it_slideshow_dots_active_2 {
			background:#ffffff;
		}
					
		/*//////////////////////slider thunbnail styles start///////////////////////////*/

		.bx-viewport {
		  height: 100px !important;
		  -webkit-transform: translatez(0);
		}
		.entry-content .huge_it_slideshow_image_wrap_2 a{
			border-bottom: none !important;
		}
		.entry-content .huge_it_slideshow_image_wrap_2 li{
			margin:0px !important;
			padding: 0px !important;
		}
		.entry-content .huge_it_slideshow_image_wrap_2 ul{
			list-style-type:none !important;
			margin: 0px !important;
			padding: 0px !important;
		}
		.bx-wrapper {
		  position: relative;
		  margin: 0 auto 0 auto;
		  padding: 0;
		  max-width: px !important;
		  *zoom: 1;
		  -ms-touch-action: pan-y;
		  touch-action: pan-y;
		}
		.huge_it_slideshow_thumbs_container_2{
							display: none;
					}
		.huge_it_slideshow_thumbs_2{

			margin: 0;
		}
		.huge_it_slideshow_thumbs_2 li{
			display: inline-block;
			 
		    height: 100px ;

		}
		.huge_it_slideshow_thumbnails_2 {
		    display: inline-block;
		    position: relative;
		    cursor: pointer;
		    background: #FFFFFF;
		    z-index: 17;
                    height: 100px;
		}
		.sl_thumb_img{
		    width: 100% !important;
		    height: 100% !important;
		    display: block;
		    margin: 0 auto;
		}
		.sl_thumb_img2{
		    height: 100% !important;
		    display: block;
		    margin: 0 auto;
		}
		.trans_back{
			width: 100%;
			height: 100%;
			top:0;
			position: absolute;
			background:rgba(255,255,255,0.5);
			transition: 0.3s ease;
		}
		.trans_back:hover{
			background:none !important;
		}
		.play-icon.youtube {background:url(wp-content/plugins/slider-image/images/play.youtube.png) center center no-repeat;
			width: 100%;
			height: 100%;
			top:0;
			position: absolute;}

		.play-icon.vimeo {background:url(wp-content/plugins/slider-image/images/play.vimeo.png) center center no-repeat;
			width: 100%;
			height: 100%;
			top:0;
			position: absolute;
		}
		.bx-wrapper {
		  
		  border: 0px solid #fff;
		  background: #fff;
		}
		
		/*////////////slider thunbnail styles end//////////////*/
		
							#huge_it_slideshow_left_2 {	
						left:0px;
						margin-top:-21px;
						height:43px;
						width:29px;
						background:url(wp-content/plugins/slider-image/Front_images/arrows/arrows.simple.png) left  top no-repeat; 
						background-size: 200%;
					}
					
					#huge_it_slideshow_right_2 {
						right:0px;
						margin-top:-21px;
						height:43px;
						width:29px;
						background:url(wp-content/plugins/slider-image/Front_images/arrows/arrows.simple.png) right top no-repeat; 
						background-size: 200%;

					}
				
	@media screen and (max-width: 800px) {
		
		.huge_it_slideshow_title_text_2 { 
			
			font-size: 13px !important;
		 
		 }
	    .huge_it_slideshow_description_text_2 {
			
			font-size: 13px !important;		
		
		}
	   .huge_it_slideshow_dots_thumbnails_2 .huge_it_slideshow_dots_2 {
			
			width:10px;
			height:10px;
			border-radius:10px;
			margin: 10px;
			
	   }
				#huge_it_slideshow_left_2 {	
						left:0px;
						margin-top:-21px;
						height:4343px;
						width:29px;
						background:url(wp-content/plugins/slider-image/Front_images/arrows/arrows.simple.png) left  top no-repeat; 
						background-size: 200%;
					}
					
				#huge_it_slideshow_right_2 {
						right:0px;
						margin-top:-21px;
						height:43px;
						width:29px;
						background:url(wp-content/plugins/slider-image/Front_images/arrows/arrows.simple.png) right top no-repeat; 
						background-size: 200%;

					}
					}
	

	@media screen and (max-width: 772px) {
		
		.huge_it_slideshow_title_text_2 { 
			
			font-size: 12.545px !important;
		 
		 }
	    .huge_it_slideshow_description_text_2 {
			
			font-size: 12.545px !important;		
		
		}
	   .huge_it_slideshow_dots_thumbnails_2 .huge_it_slideshow_dots_2 {
			
			width:9.65px;
			height:9.65px;
			border-radius:9.65px;
			margin: 9.65px;
			
	   }
				#huge_it_slideshow_left_2 {	
						left:0px;
						margin-top:-20.265px;
						height:41.49543px;
						width:27.985px;
						background:url(wp-content/plugins/slider-image/Front_images/arrows/arrows.simple.png) left  top no-repeat; 
						background-size: 200%;
					}
					
				#huge_it_slideshow_right_2 {
						right:0px;
						margin-top:-20.265px;
						height:41.495px;
						width:27.985px;
						background:url(wp-content/plugins/slider-image/Front_images/arrows/arrows.simple.png) right top no-repeat; 
						background-size: 200%;

					}
					}
	

	@media screen and (max-width: 744px) {
		
		.huge_it_slideshow_title_text_2 { 
			
			font-size: 12.09px !important;
		 
		 }
	    .huge_it_slideshow_description_text_2 {
			
			font-size: 12.09px !important;		
		
		}
	   .huge_it_slideshow_dots_thumbnails_2 .huge_it_slideshow_dots_2 {
			
			width:9.3px;
			height:9.3px;
			border-radius:9.3px;
			margin: 9.3px;
			
	   }
				#huge_it_slideshow_left_2 {	
						left:0px;
						margin-top:-19.53px;
						height:39.9943px;
						width:26.97px;
						background:url(wp-content/plugins/slider-image/Front_images/arrows/arrows.simple.png) left  top no-repeat; 
						background-size: 200%;
					}
					
				#huge_it_slideshow_right_2 {
						right:0px;
						margin-top:-19.53px;
						height:39.99px;
						width:26.97px;
						background:url(wp-content/plugins/slider-image/Front_images/arrows/arrows.simple.png) right top no-repeat; 
						background-size: 200%;

					}
					}
	

	@media screen and (max-width: 716px) {
		
		.huge_it_slideshow_title_text_2 { 
			
			font-size: 11.635px !important;
		 
		 }
	    .huge_it_slideshow_description_text_2 {
			
			font-size: 11.635px !important;		
		
		}
	   .huge_it_slideshow_dots_thumbnails_2 .huge_it_slideshow_dots_2 {
			
			width:8.95px;
			height:8.95px;
			border-radius:8.95px;
			margin: 8.95px;
			
	   }
				#huge_it_slideshow_left_2 {	
						left:0px;
						margin-top:-18.795px;
						height:38.48543px;
						width:25.955px;
						background:url(wp-content/plugins/slider-image/Front_images/arrows/arrows.simple.png) left  top no-repeat; 
						background-size: 200%;
					}
					
				#huge_it_slideshow_right_2 {
						right:0px;
						margin-top:-18.795px;
						height:38.485px;
						width:25.955px;
						background:url(wp-content/plugins/slider-image/Front_images/arrows/arrows.simple.png) right top no-repeat; 
						background-size: 200%;

					}
					}
	

	@media screen and (max-width: 688px) {
		
		.huge_it_slideshow_title_text_2 { 
			
			font-size: 11.18px !important;
		 
		 }
	    .huge_it_slideshow_description_text_2 {
			
			font-size: 11.18px !important;		
		
		}
	   .huge_it_slideshow_dots_thumbnails_2 .huge_it_slideshow_dots_2 {
			
			width:8.6px;
			height:8.6px;
			border-radius:8.6px;
			margin: 8.6px;
			
	   }
				#huge_it_slideshow_left_2 {	
						left:0px;
						margin-top:-18.06px;
						height:36.9843px;
						width:24.94px;
						background:url(wp-content/plugins/slider-image/Front_images/arrows/arrows.simple.png) left  top no-repeat; 
						background-size: 200%;
					}
					
				#huge_it_slideshow_right_2 {
						right:0px;
						margin-top:-18.06px;
						height:36.98px;
						width:24.94px;
						background:url(wp-content/plugins/slider-image/Front_images/arrows/arrows.simple.png) right top no-repeat; 
						background-size: 200%;

					}
					}
	

	@media screen and (max-width: 660px) {
		
		.huge_it_slideshow_title_text_2 { 
			
			font-size: 10.725px !important;
		 
		 }
	    .huge_it_slideshow_description_text_2 {
			
			font-size: 10.725px !important;		
		
		}
	   .huge_it_slideshow_dots_thumbnails_2 .huge_it_slideshow_dots_2 {
			
			width:8.25px;
			height:8.25px;
			border-radius:8.25px;
			margin: 8.25px;
			
	   }
				#huge_it_slideshow_left_2 {	
						left:0px;
						margin-top:-17.325px;
						height:35.47543px;
						width:23.925px;
						background:url(wp-content/plugins/slider-image/Front_images/arrows/arrows.simple.png) left  top no-repeat; 
						background-size: 200%;
					}
					
				#huge_it_slideshow_right_2 {
						right:0px;
						margin-top:-17.325px;
						height:35.475px;
						width:23.925px;
						background:url(wp-content/plugins/slider-image/Front_images/arrows/arrows.simple.png) right top no-repeat; 
						background-size: 200%;

					}
					}
	

	@media screen and (max-width: 632px) {
		
		.huge_it_slideshow_title_text_2 { 
			
			font-size: 10.27px !important;
		 
		 }
	    .huge_it_slideshow_description_text_2 {
			
			font-size: 10.27px !important;		
		
		}
	   .huge_it_slideshow_dots_thumbnails_2 .huge_it_slideshow_dots_2 {
			
			width:7.9px;
			height:7.9px;
			border-radius:7.9px;
			margin: 7.9px;
			
	   }
				#huge_it_slideshow_left_2 {	
						left:0px;
						margin-top:-16.59px;
						height:33.9743px;
						width:22.91px;
						background:url(wp-content/plugins/slider-image/Front_images/arrows/arrows.simple.png) left  top no-repeat; 
						background-size: 200%;
					}
					
				#huge_it_slideshow_right_2 {
						right:0px;
						margin-top:-16.59px;
						height:33.97px;
						width:22.91px;
						background:url(wp-content/plugins/slider-image/Front_images/arrows/arrows.simple.png) right top no-repeat; 
						background-size: 200%;

					}
					}
	

	@media screen and (max-width: 604px) {
		
		.huge_it_slideshow_title_text_2 { 
			
			font-size: 9.815px !important;
		 
		 }
	    .huge_it_slideshow_description_text_2 {
			
			font-size: 9.815px !important;		
		
		}
	   .huge_it_slideshow_dots_thumbnails_2 .huge_it_slideshow_dots_2 {
			
			width:7.55px;
			height:7.55px;
			border-radius:7.55px;
			margin: 7.55px;
			
	   }
				#huge_it_slideshow_left_2 {	
						left:0px;
						margin-top:-15.855px;
						height:32.46543px;
						width:21.895px;
						background:url(wp-content/plugins/slider-image/Front_images/arrows/arrows.simple.png) left  top no-repeat; 
						background-size: 200%;
					}
					
				#huge_it_slideshow_right_2 {
						right:0px;
						margin-top:-15.855px;
						height:32.465px;
						width:21.895px;
						background:url(wp-content/plugins/slider-image/Front_images/arrows/arrows.simple.png) right top no-repeat; 
						background-size: 200%;

					}
					}
	

	@media screen and (max-width: 576px) {
		
		.huge_it_slideshow_title_text_2 { 
			
			font-size: 9.36px !important;
		 
		 }
	    .huge_it_slideshow_description_text_2 {
			
			font-size: 9.36px !important;		
		
		}
	   .huge_it_slideshow_dots_thumbnails_2 .huge_it_slideshow_dots_2 {
			
			width:7.2px;
			height:7.2px;
			border-radius:7.2px;
			margin: 7.2px;
			
	   }
				#huge_it_slideshow_left_2 {	
						left:0px;
						margin-top:-15.12px;
						height:30.9643px;
						width:20.88px;
						background:url(wp-content/plugins/slider-image/Front_images/arrows/arrows.simple.png) left  top no-repeat; 
						background-size: 200%;
					}
					
				#huge_it_slideshow_right_2 {
						right:0px;
						margin-top:-15.12px;
						height:30.96px;
						width:20.88px;
						background:url(wp-content/plugins/slider-image/Front_images/arrows/arrows.simple.png) right top no-repeat; 
						background-size: 200%;

					}
					}
	

	@media screen and (max-width: 548px) {
		
		.huge_it_slideshow_title_text_2 { 
			
			font-size: 8.905px !important;
		 
		 }
	    .huge_it_slideshow_description_text_2 {
			
			font-size: 8.905px !important;		
		
		}
	   .huge_it_slideshow_dots_thumbnails_2 .huge_it_slideshow_dots_2 {
			
			width:6.85px;
			height:6.85px;
			border-radius:6.85px;
			margin: 6.85px;
			
	   }
				#huge_it_slideshow_left_2 {	
						left:0px;
						margin-top:-14.385px;
						height:29.45543px;
						width:19.865px;
						background:url(wp-content/plugins/slider-image/Front_images/arrows/arrows.simple.png) left  top no-repeat; 
						background-size: 200%;
					}
					
				#huge_it_slideshow_right_2 {
						right:0px;
						margin-top:-14.385px;
						height:29.455px;
						width:19.865px;
						background:url(wp-content/plugins/slider-image/Front_images/arrows/arrows.simple.png) right top no-repeat; 
						background-size: 200%;

					}
					}
	

	@media screen and (max-width: 520px) {
		
		.huge_it_slideshow_title_text_2 { 
			
			font-size: 8.45px !important;
		 
		 }
	    .huge_it_slideshow_description_text_2 {
			
			font-size: 8.45px !important;		
		
		}
	   .huge_it_slideshow_dots_thumbnails_2 .huge_it_slideshow_dots_2 {
			
			width:6.5px;
			height:6.5px;
			border-radius:6.5px;
			margin: 6.5px;
			
	   }
				#huge_it_slideshow_left_2 {	
						left:0px;
						margin-top:-13.65px;
						height:27.9543px;
						width:18.85px;
						background:url(wp-content/plugins/slider-image/Front_images/arrows/arrows.simple.png) left  top no-repeat; 
						background-size: 200%;
					}
					
				#huge_it_slideshow_right_2 {
						right:0px;
						margin-top:-13.65px;
						height:27.95px;
						width:18.85px;
						background:url(wp-content/plugins/slider-image/Front_images/arrows/arrows.simple.png) right top no-repeat; 
						background-size: 200%;

					}
					}
	

	@media screen and (max-width: 492px) {
		
		.huge_it_slideshow_title_text_2 { 
			
			font-size: 7.995px !important;
		 
		 }
	    .huge_it_slideshow_description_text_2 {
			
			font-size: 7.995px !important;		
		
		}
	   .huge_it_slideshow_dots_thumbnails_2 .huge_it_slideshow_dots_2 {
			
			width:6.15px;
			height:6.15px;
			border-radius:6.15px;
			margin: 6.15px;
			
	   }
				#huge_it_slideshow_left_2 {	
						left:0px;
						margin-top:-12.915px;
						height:26.44543px;
						width:17.835px;
						background:url(wp-content/plugins/slider-image/Front_images/arrows/arrows.simple.png) left  top no-repeat; 
						background-size: 200%;
					}
					
				#huge_it_slideshow_right_2 {
						right:0px;
						margin-top:-12.915px;
						height:26.445px;
						width:17.835px;
						background:url(wp-content/plugins/slider-image/Front_images/arrows/arrows.simple.png) right top no-repeat; 
						background-size: 200%;

					}
					}
	

	@media screen and (max-width: 464px) {
		
		.huge_it_slideshow_title_text_2 { 
			
			font-size: 7.54px !important;
		 
		 }
	    .huge_it_slideshow_description_text_2 {
			
			font-size: 7.54px !important;		
		
		}
	   .huge_it_slideshow_dots_thumbnails_2 .huge_it_slideshow_dots_2 {
			
			width:5.8px;
			height:5.8px;
			border-radius:5.8px;
			margin: 5.8px;
			
	   }
				#huge_it_slideshow_left_2 {	
						left:0px;
						margin-top:-12.18px;
						height:24.9443px;
						width:16.82px;
						background:url(wp-content/plugins/slider-image/Front_images/arrows/arrows.simple.png) left  top no-repeat; 
						background-size: 200%;
					}
					
				#huge_it_slideshow_right_2 {
						right:0px;
						margin-top:-12.18px;
						height:24.94px;
						width:16.82px;
						background:url(wp-content/plugins/slider-image/Front_images/arrows/arrows.simple.png) right top no-repeat; 
						background-size: 200%;

					}
					}
	

	@media screen and (max-width: 436px) {
		
		.huge_it_slideshow_title_text_2 { 
			
			font-size: 7.085px !important;
		 
		 }
	    .huge_it_slideshow_description_text_2 {
			
			font-size: 7.085px !important;		
		
		}
	   .huge_it_slideshow_dots_thumbnails_2 .huge_it_slideshow_dots_2 {
			
			width:5.45px;
			height:5.45px;
			border-radius:5.45px;
			margin: 5.45px;
			
	   }
				#huge_it_slideshow_left_2 {	
						left:0px;
						margin-top:-11.445px;
						height:23.43543px;
						width:15.805px;
						background:url(wp-content/plugins/slider-image/Front_images/arrows/arrows.simple.png) left  top no-repeat; 
						background-size: 200%;
					}
					
				#huge_it_slideshow_right_2 {
						right:0px;
						margin-top:-11.445px;
						height:23.435px;
						width:15.805px;
						background:url(wp-content/plugins/slider-image/Front_images/arrows/arrows.simple.png) right top no-repeat; 
						background-size: 200%;

					}
					}
	

	@media screen and (max-width: 408px) {
		
		.huge_it_slideshow_title_text_2 { 
			
			font-size: 6.63px !important;
		 
		 }
	    .huge_it_slideshow_description_text_2 {
			
			font-size: 6.63px !important;		
		
		}
	   .huge_it_slideshow_dots_thumbnails_2 .huge_it_slideshow_dots_2 {
			
			width:5.1px;
			height:5.1px;
			border-radius:5.1px;
			margin: 5.1px;
			
	   }
				#huge_it_slideshow_left_2 {	
						left:0px;
						margin-top:-10.71px;
						height:21.9343px;
						width:14.79px;
						background:url(wp-content/plugins/slider-image/Front_images/arrows/arrows.simple.png) left  top no-repeat; 
						background-size: 200%;
					}
					
				#huge_it_slideshow_right_2 {
						right:0px;
						margin-top:-10.71px;
						height:21.93px;
						width:14.79px;
						background:url(wp-content/plugins/slider-image/Front_images/arrows/arrows.simple.png) right top no-repeat; 
						background-size: 200%;

					}
					}
	

	@media screen and (max-width: 380px) {
		
		.huge_it_slideshow_title_text_2 { 
			
			font-size: 6.175px !important;
		 
		 }
	    .huge_it_slideshow_description_text_2 {
			
			font-size: 6.175px !important;		
		
		}
	   .huge_it_slideshow_dots_thumbnails_2 .huge_it_slideshow_dots_2 {
			
			width:4.75px;
			height:4.75px;
			border-radius:4.75px;
			margin: 4.75px;
			
	   }
				#huge_it_slideshow_left_2 {	
						left:0px;
						margin-top:-9.975px;
						height:20.42543px;
						width:13.775px;
						background:url(wp-content/plugins/slider-image/Front_images/arrows/arrows.simple.png) left  top no-repeat; 
						background-size: 200%;
					}
					
				#huge_it_slideshow_right_2 {
						right:0px;
						margin-top:-9.975px;
						height:20.425px;
						width:13.775px;
						background:url(wp-content/plugins/slider-image/Front_images/arrows/arrows.simple.png) right top no-repeat; 
						background-size: 200%;

					}
					}
	

	@media screen and (max-width: 352px) {
		
		.huge_it_slideshow_title_text_2 { 
			
			font-size: 5.72px !important;
		 
		 }
	    .huge_it_slideshow_description_text_2 {
			
			font-size: 5.72px !important;		
		
		}
	   .huge_it_slideshow_dots_thumbnails_2 .huge_it_slideshow_dots_2 {
			
			width:4.4px;
			height:4.4px;
			border-radius:4.4px;
			margin: 4.4px;
			
	   }
				#huge_it_slideshow_left_2 {	
						left:0px;
						margin-top:-9.24px;
						height:18.9243px;
						width:12.76px;
						background:url(wp-content/plugins/slider-image/Front_images/arrows/arrows.simple.png) left  top no-repeat; 
						background-size: 200%;
					}
					
				#huge_it_slideshow_right_2 {
						right:0px;
						margin-top:-9.24px;
						height:18.92px;
						width:12.76px;
						background:url(wp-content/plugins/slider-image/Front_images/arrows/arrows.simple.png) right top no-repeat; 
						background-size: 200%;

					}
					}
	

	@media screen and (max-width: 324px) {
		
		.huge_it_slideshow_title_text_2 { 
			
			font-size: 5.265px !important;
		 
		 }
	    .huge_it_slideshow_description_text_2 {
			
			font-size: 5.265px !important;		
		
		}
	   .huge_it_slideshow_dots_thumbnails_2 .huge_it_slideshow_dots_2 {
			
			width:4.05px;
			height:4.05px;
			border-radius:4.05px;
			margin: 4.05px;
			
	   }
				#huge_it_slideshow_left_2 {	
						left:0px;
						margin-top:-8.505px;
						height:17.41543px;
						width:11.745px;
						background:url(wp-content/plugins/slider-image/Front_images/arrows/arrows.simple.png) left  top no-repeat; 
						background-size: 200%;
					}
					
				#huge_it_slideshow_right_2 {
						right:0px;
						margin-top:-8.505px;
						height:17.415px;
						width:11.745px;
						background:url(wp-content/plugins/slider-image/Front_images/arrows/arrows.simple.png) right top no-repeat; 
						background-size: 200%;

					}
					}
	

	@media screen and (max-width: 296px) {
		
		.huge_it_slideshow_title_text_2 { 
			
			font-size: 4.81px !important;
		 
		 }
	    .huge_it_slideshow_description_text_2 {
			
			font-size: 4.81px !important;		
		
		}
	   .huge_it_slideshow_dots_thumbnails_2 .huge_it_slideshow_dots_2 {
			
			width:3.7px;
			height:3.7px;
			border-radius:3.7px;
			margin: 3.7px;
			
	   }
				#huge_it_slideshow_left_2 {	
						left:0px;
						margin-top:-7.77px;
						height:15.9143px;
						width:10.73px;
						background:url(wp-content/plugins/slider-image/Front_images/arrows/arrows.simple.png) left  top no-repeat; 
						background-size: 200%;
					}
					
				#huge_it_slideshow_right_2 {
						right:0px;
						margin-top:-7.77px;
						height:15.91px;
						width:10.73px;
						background:url(wp-content/plugins/slider-image/Front_images/arrows/arrows.simple.png) right top no-repeat; 
						background-size: 200%;

					}
					}
	

	@media screen and (max-width: 268px) {
		
		.huge_it_slideshow_title_text_2 { 
			
			font-size: 4.355px !important;
		 
		 }
	    .huge_it_slideshow_description_text_2 {
			
			font-size: 4.355px !important;		
		
		}
	   .huge_it_slideshow_dots_thumbnails_2 .huge_it_slideshow_dots_2 {
			
			width:3.35px;
			height:3.35px;
			border-radius:3.35px;
			margin: 3.35px;
			
	   }
				#huge_it_slideshow_left_2 {	
						left:0px;
						margin-top:-7.035px;
						height:14.40543px;
						width:9.715px;
						background:url(wp-content/plugins/slider-image/Front_images/arrows/arrows.simple.png) left  top no-repeat; 
						background-size: 200%;
					}
					
				#huge_it_slideshow_right_2 {
						right:0px;
						margin-top:-7.035px;
						height:14.405px;
						width:9.715px;
						background:url(wp-content/plugins/slider-image/Front_images/arrows/arrows.simple.png) right top no-repeat; 
						background-size: 200%;

					}
					}
	

	@media screen and (max-width: 240px) {
		
		.huge_it_slideshow_title_text_2 { 
			
			font-size: 3.9px !important;
		 
		 }
	    .huge_it_slideshow_description_text_2 {
			
			font-size: 3.9px !important;		
		
		}
	   .huge_it_slideshow_dots_thumbnails_2 .huge_it_slideshow_dots_2 {
			
			width:3px;
			height:3px;
			border-radius:3px;
			margin: 3px;
			
	   }
				#huge_it_slideshow_left_2 {	
						left:0px;
						margin-top:-6.3px;
						height:12.943px;
						width:8.7px;
						background:url(wp-content/plugins/slider-image/Front_images/arrows/arrows.simple.png) left  top no-repeat; 
						background-size: 200%;
					}
					
				#huge_it_slideshow_right_2 {
						right:0px;
						margin-top:-6.3px;
						height:12.9px;
						width:8.7px;
						background:url(wp-content/plugins/slider-image/Front_images/arrows/arrows.simple.png) right top no-repeat; 
						background-size: 200%;

					}
					}
	

	@media screen and (max-width: 212px) {
		
		.huge_it_slideshow_title_text_2 { 
			
			font-size: 3.445px !important;
		 
		 }
	    .huge_it_slideshow_description_text_2 {
			
			font-size: 3.445px !important;		
		
		}
	   .huge_it_slideshow_dots_thumbnails_2 .huge_it_slideshow_dots_2 {
			
			width:2.65px;
			height:2.65px;
			border-radius:2.65px;
			margin: 2.65px;
			
	   }
				#huge_it_slideshow_left_2 {	
						left:0px;
						margin-top:-5.565px;
						height:11.39543px;
						width:7.685px;
						background:url(wp-content/plugins/slider-image/Front_images/arrows/arrows.simple.png) left  top no-repeat; 
						background-size: 200%;
					}
					
				#huge_it_slideshow_right_2 {
						right:0px;
						margin-top:-5.565px;
						height:11.395px;
						width:7.685px;
						background:url(wp-content/plugins/slider-image/Front_images/arrows/arrows.simple.png) right top no-repeat; 
						background-size: 200%;

					}
					}
	

	@media screen and (max-width: 184px) {
		
		.huge_it_slideshow_title_text_2 { 
			
			font-size: 2.99px !important;
		 
		 }
	    .huge_it_slideshow_description_text_2 {
			
			font-size: 2.99px !important;		
		
		}
	   .huge_it_slideshow_dots_thumbnails_2 .huge_it_slideshow_dots_2 {
			
			width:2.3px;
			height:2.3px;
			border-radius:2.3px;
			margin: 2.3px;
			
	   }
				#huge_it_slideshow_left_2 {	
						left:0px;
						margin-top:-4.83px;
						height:9.8943px;
						width:6.67px;
						background:url(wp-content/plugins/slider-image/Front_images/arrows/arrows.simple.png) left  top no-repeat; 
						background-size: 200%;
					}
					
				#huge_it_slideshow_right_2 {
						right:0px;
						margin-top:-4.83px;
						height:9.89px;
						width:6.67px;
						background:url(wp-content/plugins/slider-image/Front_images/arrows/arrows.simple.png) right top no-repeat; 
						background-size: 200%;

					}
					}
	

	@media screen and (max-width: 156px) {
		
		.huge_it_slideshow_title_text_2 { 
			
			font-size: 2.535px !important;
		 
		 }
	    .huge_it_slideshow_description_text_2 {
			
			font-size: 2.535px !important;		
		
		}
	   .huge_it_slideshow_dots_thumbnails_2 .huge_it_slideshow_dots_2 {
			
			width:1.95px;
			height:1.95px;
			border-radius:1.95px;
			margin: 1.95px;
			
	   }
				#huge_it_slideshow_left_2 {	
						left:0px;
						margin-top:-4.095px;
						height:8.38543px;
						width:5.655px;
						background:url(wp-content/plugins/slider-image/Front_images/arrows/arrows.simple.png) left  top no-repeat; 
						background-size: 200%;
					}
					
				#huge_it_slideshow_right_2 {
						right:0px;
						margin-top:-4.095px;
						height:8.385px;
						width:5.655px;
						background:url(wp-content/plugins/slider-image/Front_images/arrows/arrows.simple.png) right top no-repeat; 
						background-size: 200%;

					}
					}
	

/***</add>***/
/***<add>***/
 

	
	  #huge_it_loading_image_ {
		height:px;
		width:px;
		display: table-cell;
		text-align: center;
		vertical-align: middle;
	 }
	  #huge_it_loading_image_.display {
		display: table-cell;
	 }
	  #huge_it_loading_image_.nodisplay {
		display: none;
	 }
	 #huge_it_loading_image_ img {
		margin: auto 0;
		width: 20% !important;
		
	 }
	 
	 .huge_it_slideshow_image_wrap_ {
		height:0px;
		width:0px;
                max-width: calc(100% - 0px);
		position:relative;
		display: block;
		text-align: center;
		/*HEIGHT FROM HEADER.PHP*/
		clear:both;
		
				float:none; margin:0px auto;		
		border-style:solid;
		border-left:0px !important;
		border-right:0px !important;
                	}
	 .huge_it_slideshow_image_wrap1_.display {
		 width: 100%;
		 height:100%;
	 }
	 .huge_it_slideshow_image_wrap1_.display {
		 display:block;
	 }
	 .huge_it_slideshow_image_wrap1_.nodisplay {
		 opacity:0;
	 }
	.huge_it_slideshow_image_wrap_ * {
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
	}
		 

	  .huge_it_slideshow_image_ {
                                   width: 100%;
                    height: 100%;
                                max-width: 100%;
                max-height: 100%;
                
	  }
          .huge_it_slideshow_image_wrap1_{
              height:0px;
              width:0px;
              max-width: 100%;
          }
	  #huge_it_slideshow_left_,
	  #huge_it_slideshow_right_ {
		cursor: pointer;
		display:none;
		height: 100%;
		outline: medium none;
		position: absolute;
		z-index: 13;
                    margin-top: 0px !important;
            top: 50%;
            transform: translateY(-50%);
        	  }
	 

	  #huge_it_slideshow_left-ico_,
	  #huge_it_slideshow_right-ico_ {
		z-index: 13;
		-moz-box-sizing: content-box;
		box-sizing: content-box;
		cursor: pointer;
		display: table;
		left: -9999px;
		line-height: 0;
		margin-top: -15px;
		position: absolute;
		top: 50%;
		/*z-index: 10135;*/
	  }
	  #huge_it_slideshow_left-ico_:hover,
	  #huge_it_slideshow_right-ico_:hover {
		cursor: pointer;
	  }
	  
	  .huge_it_slideshow_image_container_ {
		display: table;
		position: relative;
		top:0px;
		left:0px;
		text-align: center;
		vertical-align: middle;
		width:100%;
                overflow:hidden;
                height: 100%;
	  }	  
		
	  .huge_it_slideshow_title_text_ {
		text-decoration: none;
		position: absolute;
		z-index: 11;
		display: inline-block;
				
		width:24%;
		/*height:44%;*/
		
		right:3%;top:3%;		padding:2%;
		text-align:right;  
		font-weight:bold;
		color:#000000;
			
		background:rgba(255,255,255,0.7)  !important;
		border-style:solid;
		font-size:13px;
		border-width:0px;
		border-color:#ffffff;
		border-radius:4px;
	  }
	  	  
	  .huge_it_slideshow_description_text_ {
		text-decoration: none;
		position: absolute;
		z-index: 11;
		border-style:solid;
		display: inline-block;
				
		width:64%;
		/*height:44%;*/
		right:3%;bottom:3%;		padding:3%;
		text-align:justify;  
		color:#ffffff;
		
		background:rgba(0,0,0,0.7) !important;
		border-style:solid;
		font-size:13px;
		border-width:0px;
		border-color:#ffffff;
		border-radius:0px;
	  }
	  
	   .huge_it_slideshow_title_text_.none, .huge_it_slideshow_description_text_.none,
	   .huge_it_slideshow_title_text_.hidden, .huge_it_slideshow_description_text_.hidden	   {display:none;}
	      
	   .huge_it_slideshow_title_text_ h1, .huge_it_slideshow_description_text_ h1,
	   .huge_it_slideshow_title_text_ h2, .huge_it_slideshow_title_text_ h2,
	   .huge_it_slideshow_title_text_ h3, .huge_it_slideshow_title_text_ h3,
	   .huge_it_slideshow_title_text_ h4, .huge_it_slideshow_title_text_ h4,
	   .huge_it_slideshow_title_text_ p, .huge_it_slideshow_title_text_ p,
	   .huge_it_slideshow_title_text_ strong,  .huge_it_slideshow_title_text_ strong,
	   .huge_it_slideshow_title_text_ span, .huge_it_slideshow_title_text_ span,
	   .huge_it_slideshow_title_text_ ul, .huge_it_slideshow_title_text_ ul,
	   .huge_it_slideshow_title_text_ li, .huge_it_slideshow_title_text_ li {
			padding:2px;
			margin:0px;
	   }

	  .huge_it_slide_container_ {
		display: table-cell;
		margin: 0 auto;
		position: relative;
		vertical-align: middle;
		width:100%;
		height:100%;
		_width: inherit;
		_height: inherit;
	  }
	  .huge_it_slide_bg_ {
		margin: 0 auto;
		width:100%;
		height:100%;
		_width: inherit;
		_height: inherit;
	  }
          .huge_it_slide_bg_ li img{
                position: absolute;
                                    /*top: -0px !important;
                    left: -0px !important;*/
                    left:0;
                                height: 100%;
          }
          .huge_it_slide_bg_ li iframe{
                width: 100%;
                height: 100%;
          }
	  .huge_it_slider_ {
		width:100%;
		height:100%;
		display:table !important;
		padding:0px !important;
		margin:0px !important;
		
	  }
	  .huge_it_slideshow_image_item_ {
		width:100%;
		height:100%;
		_width: inherit;
		_height: inherit;
		display: table-cell;
		filter: Alpha(opacity=100);
		opacity: 1;
		position: absolute !important;
		top:0px !important;
		left:0px !important;
		vertical-align: middle;
		z-index: 1;
		margin:0px !important;
		padding:0px  !important;
		overflow: hidden !important;
		border-radius: 0px !important;
	  }
	  .huge_it_slideshow_image_second_item_ {
		width:100%;
		height:100%;
		_width: inherit;
		_height: inherit;
		display: table-cell;
		filter: Alpha(opacity=0);
		opacity: 0;
		position: absolute !important;
		top:0px !important;
		left:0px !important;
		vertical-align: middle;
		overflow:hidden;
		margin:0px !important;
		visibility:visible !important;
		padding:0px  !important;
		border-radius: 0px !important;
	  }  
	   .huge_it_slideshow_image_second_item_ a, .huge_it_slideshow_image_item_ a {
			display:block;
			width:100%;
			height:100%;	
	   }
	   
	  .huge_it_grid_ {
		display: none;
		height: 100%;
		overflow: hidden;
		position: absolute;
		width: 100%;
	  }
	  .huge_it_gridlet_ {
		opacity: 1;
		filter: Alpha(opacity=100);
		position: absolute;
	  }
	  .huge_it_slideshow_dots_container_ {
		display: table;
		position: absolute;
		width:100% !important;
		height:100% !important;
	  }
	  .huge_it_slideshow_dots_thumbnails_ {
		margin: 0 auto;
		overflow: hidden;
		position: absolute;
		width:100%;
		height:30px;
	  }
	  
	  .huge_it_slideshow_dots_ {
		display: inline-block;
		position: relative;
		cursor: pointer;
		box-shadow: 1px 1px 1px rgba(0,0,0,0.1) inset, 1px 1px 1px rgba(255,255,255,0.1);
		width:10px;
		height: 10px;
		border-radius: 10px;
		background: #00f;
		margin: 10px;
		overflow: hidden;
		z-index: 17;
	  }
	  
	  .huge_it_slideshow_dots_active_ {
		opacity: 1;
		filter: Alpha(opacity=100);
	  }
	  .huge_it_slideshow_dots_deactive_ {
	  
	  }

		.huge_it_slideshow_image_wrap_ {
			background:#ffffff;
			border-width:0px;
			border-color:#ffffff;
			border-radius:0px;
		}
		.huge_it_slideshow_image_wrap_.nocolor {
			background: transparent;
		}
		
		.huge_it_slideshow_dots_thumbnails_ {
					}

		.huge_it_slideshow_dots_ {
			background:#000000;
		}
		
		.huge_it_slideshow_dots_active_ {
			background:#ffffff;
		}
							/*//////////////////////slider thunbnail styles start///////////////////////////*/

		.bx-viewport {
		  height: 100px !important;
		  -webkit-transform: translatez(0);
		}
		.entry-content .huge_it_slideshow_image_wrap_ a{
			border-bottom: none !important;
		}
		.entry-content .huge_it_slideshow_image_wrap_ li{
			margin:0px !important;
			padding: 0px !important;
		}
		.entry-content .huge_it_slideshow_image_wrap_ ul{
			list-style-type:none !important;
			margin: 0px !important;
			padding: 0px !important;
		}
		.bx-wrapper {
		  position: relative;
		  margin: 0 auto 0 auto;
		  padding: 0;
		  max-width: 800px !important;
		  *zoom: 1;
		  -ms-touch-action: pan-y;
		  touch-action: pan-y;
		}
		.huge_it_slideshow_thumbs_container_{
						}
		.huge_it_slideshow_thumbs_{

			margin: 0;
		}
		.huge_it_slideshow_thumbs_ li{
			display: inline-block;
			 
		    height: 100px ;

		}
		.huge_it_slideshow_thumbnails_ {
		    display: inline-block;
		    position: relative;
		    cursor: pointer;
		    background: #FFFFFF;
		    z-index: 17;
                    height: 100px;
		}
		.sl_thumb_img{
		    width: 100% !important;
		    height: 100% !important;
		    display: block;
		    margin: 0 auto;
		}
		.sl_thumb_img2{
		    height: 100% !important;
		    display: block;
		    margin: 0 auto;
		}
		.trans_back{
			width: 100%;
			height: 100%;
			top:0;
			position: absolute;
			background:rgba(255,255,255,0.5);
			transition: 0.3s ease;
		}
		.trans_back:hover{
			background:none !important;
		}
		.play-icon.youtube {background:url(wp-content/plugins/slider-image/images/play.youtube.png) center center no-repeat;
			width: 100%;
			height: 100%;
			top:0;
			position: absolute;}

		.play-icon.vimeo {background:url(wp-content/plugins/slider-image/images/play.vimeo.png) center center no-repeat;
			width: 100%;
			height: 100%;
			top:0;
			position: absolute;
		}
		.bx-wrapper {
		  
		  border: 0px solid #fff;
		  background: #fff;
		}
		
		/*////////////slider thunbnail styles end//////////////*/
		
							#huge_it_slideshow_left_ {	
						left:0px;
						margin-top:-21px;
						height:43px;
						width:29px;
						background:url(wp-content/plugins/slider-image/Front_images/arrows/arrows.simple.png) left  top no-repeat; 
						background-size: 200%;
					}
					
					#huge_it_slideshow_right_ {
						right:0px;
						margin-top:-21px;
						height:43px;
						width:29px;
						background:url(wp-content/plugins/slider-image/Front_images/arrows/arrows.simple.png) right top no-repeat; 
						background-size: 200%;

					}
				
/***</add>***/
